.verification-container{
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    p{
        text-align: center;
        line-height: 0%;
        color: rgb(194, 194, 194);
    }
    .verification-code{
        margin-top: 25px;
    }
}