.file-details-container{
    width: 100%;
    min-height: 100%;

    .top-nav-container{
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid lightgray;

        p{
            font-weight: 500;
        }
    }

    .text-area-contents-container{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 0px 20px;
        border-bottom: 1px solid lightgray;

        .post-image-container{
            height: 48px;
            width: 48px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .text-area-input{
            width: 70%;
            height: 50px;
            display: flex;
            align-items: center;

            textarea{
                width: 100%;
                border: none;
                height: 18px;
                outline: none;
                background-color: transparent;
                display: flex;
                flex-grow: 1;
                resize: none;
                line-height: 18px;
                white-space: pre-wrap;
                overflow-wrap: break-word;
                font-size: 1.1rem;
            }
        }
    }

    .action-button-container{
        min-height: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        margin-top: 25px;
    }
}



@import './location/Location';