.chat-lists-container{
    width: 100%;
    min-height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
}


@import './each_chat/EachChat';