.pc-home-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);

    .pc-home-contents-container{
        margin-top: 10vh;
        min-height: 90vh;
        width: 920px;
        position: relative;

        .pc-home-stories-container{
            width: 65%;
            height: 7rem;
            border: 1px solid lightgray;
            padding: 15px;
            background-color: white;
            border-radius: 5px;

            .container{
                overflow-x: auto;
                height: 100%;
            }
        }

        .pc-home-feedposts-container{
            width: 65%;
            min-height: 50vh;
            margin-top: 2rem;
        }
    }
}

.pc-home-suggestions-container{
    width: 600px;
    background-color: white;
    padding-bottom: 20px;
}


@media(min-width : 600px) {
    .pc-home-container{
        .pc-home-contents-container{
            width: 600px;

            .pc-home-stories-container{
                width: 100%;
            }

            .pc-home-feedposts-container{
                width: 100%
            }
        }
    }
}


@media(min-width : 900px) {
    .pc-home-container{
        .pc-home-contents-container{
            width: 920px;

            .pc-home-stories-container{
                width: 65%;
            }

            .pc-home-feedposts-container{
                width: 65%
            }
        }
    }
}


@import './right_section/RightSection';