.mobile-user-account-container{
    width: 100%;
    min-height: 100vh;
    padding-top: 3rem;

    .mobile-user-account-nav-container{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid lightgray;
        z-index: 3;
        background-color: white;

        p{
            font-weight: 600;
        }
    }

    .user-profile-details-container{
        width: 100%;
        min-height: 35vh;

        .user-profile-header-container{
            width: 100%;
            min-height: 15vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px 0 15px;

            section{
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                //justify-content: center;

                h1{
                    font-weight: 300;
                    margin-bottom: 5px;
                }
            }
        }


        .user-profile-information-container{
            width: 100%;
            min-block-size: 10vh;
            border-bottom: 1px solid lightgray;
            padding: 20px 20px 20px 10px;

            h4{
                color: gray;
                margin-bottom: 5px;
            }

            p{
                font-size: 1rem;
                margin-bottom: 5px;
            }

            a{
                font-weight: 600;
                font-size: 0.9rem;
                color: rgba(var(--fe0,0,55,107),1);
            }
        }


        .user-profile-statistics-container{
            width: 100%;
            height: 8vh;
            margin-top: 10px;
            border-bottom: 1px solid lightgray;
            display: flex;
            align-items: center;
            padding: 0 30px;
            justify-content: space-between;

            button{
               text-transform: lowercase;
               margin: 0;
               padding: 0;
               span{
                   width: 100%;
                   height: 100%;
                   display: flex;
                   flex-direction: column;
                   align-items: center;

                   small{
                       color: rgb(174, 174, 174);
                       font-size: 0.9rem;
                       font-weight: 400;
                   }
               }
            }
        }
    }

    .landscape{
        display: none;
    }

    .mobile-user-account-dashboard-container{
        width : 100%;
        min-height : 50vh;
        overflow: hidden;
        margin-bottom: 7vh;
    }
}




@media(max-width : 800px) and (orientation: landscape) {
    .mobile-user-account-container{
        .landscape{
            display: flex;
        }

        .portrait{
            display: none;
        }

        .user-account-information-container{
            width: 100%;
            min-height: 10rem;
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid lightgray;
            padding: 30px 0;
    
            .user-account-details-container{
                width: 60%;
                height: 100%;
    
                .first-section{
                    min-width: 200px;
                    height: 50px;
                    display: flex;
                    //justify-content: space-between;
                    align-items: flex-start;
                    p{
                        font-size: 1.5rem;
                        line-height: 20px;
                    }
                    button{
                        text-transform: initial;
                        margin: 0 15px;
                        height: 24px;
                    }
    
                    .MuiSvgIcon-root{
                        cursor: pointer;
                    }
                }
    
    
                .second-section{
                    width: 300px;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
    
                    button{
                        padding: 5px;
                        text-transform: lowercase;
                        height: 30px;
    
                        div{
                            display: flex;
                            align-items: center;
    
                            p{
                                margin-right: 10px;
                                font-size: 1rem;
                            }
    
                            small{
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        
                        }
                    }
                }
    
    
    
                .third-section{
                    min-height: 5rem;
                    width: 300px;
    
                    h3{
                        font-size: 1rem;
                    }
        
                    p{
                        font-size: 1rem;
                        font-weight: 400;
                        margin: 10px 0;
                    }
        
                    a{
                        color: rgba(var(--fe0,0,55,107),1);
                        font-size: 0.9rem;
                        font-weight: 500;
                    }
    
                }
    
    
    
    
    
            }
    
    
    
        }
    }
}




@import './edit_profile/EditProfile';
@import './options/AccountOptions';