.pc-settings-dialog-container{
    width: 400px;
    height: 500px;

    div{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid lightgray;

        button{
            text-transform: initial;
            font-weight: 400;
        }
    }
}