.each-post-feed-container{
    width: 100%;
    min-height: 70vh;
    margin-bottom: 25px;
    background-color: white;

    .each-post-bottom-commnent-input{
        display: none;
    }

    .top-details-container{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid lightgray;
        //padding: 0 20px;
        .MuiSvgIcon-root{
            cursor: pointer;
        }

        .user-container{
            display: flex;
            height: 100%;
            width: 80%;
            align-items: center;

            p{
                margin: 0 10px;
            }

            button{
                text-transform: capitalize;
            }
        }
    }

    // .post-media-container{
    //     width: 100%;
    //     min-height: 40vh;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    //     img{
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //         object-position: center;
    //     }
    // }


    .bottom-actions-container{
        width: 100%;
        height: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        
        .left-sided{
            width: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .pc-comment-feeds-icon-container{
                display: none;
            }
        }
    }

    .post-information-container{
        width: 100%;
        min-height: 15vh;
        display: flex;
        flex-direction: column;
        padding: 0 15px;

        .likes-container{
            width: 100%;
            display: flex;
            align-items: center;
            margin: 10px 0;
            p{
                font-size: 0.9rem;
                font-weight: 500;
            }
        }

        .caption-container{
            width: 100%;
            display: flex;
            margin-bottom: 10px;
            
            p{
                white-space: pre-wrap;
                span{
                    font-weight: 800;
                    //white-space: pre-wrap;
                }
            }
        }

        .comments-container{
            width: 100%;
            margin-bottom: 10px;

            .comments-title{
                margin-bottom: 10px;
                p{
                    color: rgb(188, 188, 188);
                }
            }

            .each-comment-container{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 7px;

                .comment{
                    width: 95%;
                    p{
                        span{
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }
}





@media(min-width : 600px) {
    .each-post-feed-container{
        border: 1px solid lightgray;
        margin-bottom: 45px;
        padding-bottom: 10px;

        .bottom-actions-container{
            
            .left-sided{
                width: 20%;

                .mobile-comment-feeds-icon-container{
                    display: none;
                }

                .pc-comment-feeds-icon-container{
                    display: block;
                }
            }
        }

        .each-post-bottom-commnent-input{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            border-top: 1px solid rgb(237, 237, 237);
            padding: 0 20px;
            margin-top: 15px;

            input{
                width: 90%;
                height: 100%;
                border: none;
                outline: none;
                font-size: 1rem;
            }

            button{
                text-transform: initial;
                color : #0095f6;
            }
        }
    }

}

//for phone screens like the iphone 5 that doesn't meet up to 600px on landscapa mode
@media(max-width : 800px) and (orientation: landscape) {
    .each-post-feed-container{
        width: 85%;
        
        border: 1px solid lightgray;
        margin-bottom: 45px;
        padding-bottom: 10px;

        .bottom-actions-container{
            
            .left-sided{
                width: 20%;

                .mobile-comment-feeds-icon-container{
                    display: none;
                }

                .pc-comment-feeds-icon-container{
                    display: block;
                }
            }
        }

        .each-post-bottom-commnent-input{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            border-top: 1px solid rgb(237, 237, 237);
            padding: 0 20px;
            margin-top: 15px;

            input{
                width: 90%;
                height: 100%;
                border: none;
                outline: none;
                font-size: 1rem;
            }

            button{
                text-transform: initial;
                color : #0095f6;
            }
        }
    }

}





@import './more_options/MoreOptions';
@import './share/SharePost';
@import './feed_image/FeedImage';