.change-password-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;

    .change-password-nav-container{
        width: 100%;
        height: 7vh;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 333;
        border-bottom: 1px solid lightgray;

        p{
            width: 70%;
            font-weight: 500;
        }
    }

    .change-password-user-container{
        width: 90%;
        height: 15vh;
        display: flex;
        align-items: center;

        h1{
            font-weight: 400;
            margin-left: 20px;
        }
    }

    form{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .MuiFormControl-root{
            width: 100%;
        }

        button{
            text-transform: capitalize;
            margin-top: 20px;
        }
    }
}