.pc-profile{
    display: none;
}

@media(min-width : 600px) {
    .pc-profile{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .mobile-profile{
        display: none;
    }

}

@media(max-width : 800px) and (orientation: landscape) {
    .pc-profile{
        display: none;
    }

    .mobile-profile{
        display: flex;
    }
}


@import './mobile/MobileProfile';
@import './pc/PcProfile';

@import './actions/unfollow/UnFollowDialog';
@import './actions/brr-dialog/BRRDialog';