.each-chat-container{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 25px;

    .each-chat-details-container{
        min-width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            font-weight: 500;
        }

        small{
            color: gray;
        }
    }


    .unread-message-sign{
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #0095f6;
    }
}
