.dashboard-nav-container{
    width: 100%;
    height: 7vh;
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: space-around;

}



@media(min-width : 960px) {
    .dashboard-nav-container{
        border: none;
        .user-feed-icon-container{
            display: none;
        }
    }
 }


@import './sections/posts/UserPost';
@import './sections/saved_posts/SavedPosts';
@import './sections/feed/UserFeed';
@import './sections/channel/Channel';