*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, .App {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    //touch-action: none;
}


p, h1, h2, h3, textarea {
    color: rgb(89, 88, 88);
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    // .makeStyles-modal-9{
    //     position: absolute !important;
    // }

    .MuiPaper-elevation8{
        margin-top: 25px;
    }

    .MuiDialog-paperScrollPaper{
        border-radius: 20px;
    }

    .MuiDrawer-paperAnchorBottom{
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
}


body{
    .pac-container{
        z-index: 9999 !important;
        width: 90%;
        margin-top: 20px;
    }
    
}