.pc-home{
    display: none;
}



@media(min-width : 600px) {
    .pc-home{
        width: 100%;
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(247, 247, 247);
        padding-bottom: 30px;
    }

    .mobile-home{
        display: none;
    }

}


@media(max-width : 800px) and (orientation: landscape) {
    .pc-home{
        display: none;
    }

    .mobile-home{
        display: block;
    }
}

@import './mobile/MobileHome';
@import './pc/PcHome';