.pc-home{
    display: none;
}

@media(min-width : 960px) {
    .pc-home{
        width: 100%;
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(247, 247, 247);
        padding-bottom: 30px;
    }

    .mobile-home{
        display: none;
    }

}

@import './mobile/MobileHome';
@import './pc/PcHome';