.cube-slider-container{
    width: 100%;
    height: 100vh;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .container-movement{
        animation-name: container-animation;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }

    .contents-container{
         position: relative;
         height: 100%;
         width: 100%;
         perspective: 500px;

        .image-container{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .left-sided{
            position: absolute;
            transform-origin: center center -150px;
            transform: rotateY(0deg);
            z-index:1;
        }

        .left-move-left{
            animation-name: left-animation;
            animation-duration: .75s;
            animation-fill-mode: forwards;
        }

        .right-sided{
            position: absolute;
            transform-origin: center center -150px;
            transform: rotateY(0deg);
            z-index: 0;
        }

        .right-move-left{
            animation-name: right-animation;
            animation-duration: .75s;
            animation-fill-mode: forwards;
        }

        .right-move-left{
            animation-name: right-animation;
            animation-duration: .75s;
            animation-fill-mode: forwards;
        }

        .left-move-left{
            animation-name: left-animation;
            animation-duration: .75s;
            animation-fill-mode: forwards;
        }
    }
}



@keyframes left-animation{
    0%{
        transform: rotateY(0);
        z-index:1;
    }
    100%{
        transform:rotateY(-90deg);
        z-index:0;
    }
}
@keyframes right-animation{
    0%{
        transform:rotateY(90deg);
        z-index:0;
    }
    100%{
        transform: rotateY(0);
        z-index:1;
    }
}

@keyframes container-animation{
    0%{
        transform: translateZ(0);
    }
    50%{
        transform: translateZ(-200px);
    }
    100%{
        transform: translateZ(0);
    }
}

@keyframes container-animation{
    0%{
        transform: translateZ(0);
    }
    50%{
        transform: translateZ(-200px);
    }
    100%{
        transform: translateZ(0);
    }
}