.pc-search-results-container{
    width: 300px;
    max-height: 300px;
    background-color: white;
    position: absolute;
    overflow-y: scroll;
    padding-top: 10px;
    top: 3.5rem;
    left: 27%;
}