.post-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    padding-top: 4rem;

    .pc-post{
        display: none;
    }
    
    @media(min-width : 960px) {
        .pc-post{
            display: block;
        }
    
        .mobile-post{
            display: none;
        }
    
    }
}


@import './mobile/MobilePost';
@import './pc/PcPost.scss';