.profile-information-formik-form{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    //overflow-y: scroll;

    .pc{
        display: none;
    }

    .mobile{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .MuiFormControl-root{
        width: 90%;
        margin-top: 25px;
    }


    small{
        width: 90%;
        font-size: 0.7rem;
        margin-top: 10px;
        color: gray;
    }

    .personal-information-header{
        width: 90%;
        height: 12vh;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p{
            font-weight: 500;
            color: gray;
        }

        small{
            margin-top: 5px;
            height: 80%;
            width: 100%;
        }
    }

    .profile-form-buttons-container{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding: 0 20px;

        button{
            text-transform: initial;
        }
    }

}


@media(min-width : 600px) {
   .profile-information-formik-form{
       min-height: 0;
       height: 90%;

       .mobile{
           display: none;
       }

       .pc{
           display: flex;
           width: 100%;
           justify-content: center;
       }

       .MuiFormControl-root{
           width: 90%;
           margin-top: 20px;
       }

       .personal-information-header{
           height: 4rem;
       }


       .profile-form-buttons-container{
           height: 3rem;
           width: 70%;
           padding: 0;
       }
   }
}

@import './gender/GenderModal';