.password-container{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .MuiFormHelperText-root.Mui-error{
        margin-top: 10px;
    }
   
    p{
        text-align: center;
        line-height: 0%;
        color: rgb(194, 194, 194);
    }
}