.each-reacted-user-container{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-top: 1px solid rgb(232, 232, 232);

    .each-reacted-user-profile{
        min-width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        display: flex;

        .each-reacted-user-name{
            margin-left: 10px;

            small{
                color: rgb(157, 157, 157);
                font-size: 0.8rem;
            }
        }
    }
}




.message-reactions-drawer-container{
    min-height: 10rem;

    .message-reactions-top-section{
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .message-reactions-span{
            width: 50px;
            height: 5px;
            border-radius: 10px;
            background-color: rgb(199, 199, 199);
        }

        p{
            font-weight: 500;
        }
    }


}



.reactions-dialog-container{
    width: 400px;
    min-height: 8rem;

    .message-reactions-dialog-top-section{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;

        p{
            width: 60%;
            text-align: right;
            font-weight: 500;
        }
        .MuiSvgIcon-root{
            cursor: pointer;
        }
    }
}