.not-user-dialog-contents-container{
    width: 16rem;
    min-height: 15rem;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



    .content-container{
        width: 100%;
        height: 3.5rem;
        border-bottom: 1px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            text-transform: initial;
        }
    }

    .pc{
        display: none;
    }

}

.user-dialog-contents-container{
    width: 16rem;
    height: 10rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .content-container{
        width: 100%;
        height: 3.5rem;
        border-bottom: 1px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            text-transform: initial;
        }
    }
}



@media(min-width : 960px) {
    .not-user-dialog-contents-container{
        width: 400px;

        .pc{
            display: flex;
        }

        .mobile{
            display:  none;
        }

    }


    .user-dialog-contents-container{
        width: 400px;
    }
}