.each-mobile-activity-container{
    min-height: 7vh;
    width: 100%;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .notification-information{
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .followed-notifier-details{
            width: 85%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            p{
                font-weight: 500;
            }

            small{

                .time{
                    font-size: 0.7rem;
                    color: gray;
                }
            }
        }

        .followed-notification-item{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                text-transform: initial;
                background-color: #0095f6;
            }

        }

        .notification-post-image{
            min-height: 100%;
            width: 15%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }

        
    }

}

hr{
    width: 80%;
    margin: 3px 10px 3px auto;
    
}