.every-comment-container{
    min-height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    .comment-details{
        width: 80%;
            min-height: 8vh;
            display: flex;
            flex-direction: column;
            //justify-content: space-between;

            .comment-text{
                width: 100%;
                display: flex;
                justify-content: space-between;

                p{
                    width: 90%;
                    color: gray;
                    a{
                        margin-right: 5px;
                        font-weight: 600;
                        color: rgb(62, 62, 62);
                    }
                }

            }

            .comment-time-likes{
                margin-top: 10px;
                width: 100%;
                display: flex;
                justify-content: space-between;

                .time-likes{
                    small{
                        color: rgb(194, 194, 194) !important;
                        margin: 0 !important;
                        margin-right: 8px !important;
                    }  
                }
                

                .more-options{
                    display: none;
                    justify-content: flex-end;
                    .MuiSvgIcon-fontSizeSmall{
                        fill: rgb(92, 92, 92);
                        cursor: pointer;
                    }
                }
            }

    }

    .comment-details:hover{
        .comment-time-likes{
            .more-options{
                display: flex;
                align-self: flex-end;
            }
        }
    }
}


@import './comment_action/CommentActionDialog';