.right-section-container{
    position: fixed;
    width: 18rem;
    min-height: 20rem;
    right: 50%;
    margin-right: -460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a{
        cursor: pointer;
        height: 20px;
    }

    a:hover{
        border-bottom: 1px solid black;
    }

    p{
        font-weight: 500;
    }

    small{
        color: rgb(148, 148, 148);
    }

    .right-section-profile-information{
        display: flex;
        width: 60%;
        min-height: 4rem;
        align-items: center;

        a{
            margin-left: 20px;
        }
    }

    .right-section-suggestions-container{
        width: 100%;
        height: 80%;
        margin-top: 2.5rem;

        .header-content{
            display: flex;
            height: 15px;
            width: 95%;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            h4{
                color: rgb(148, 148, 148);
            }
            small{
                color: rgb(60, 60, 60);
                cursor: pointer;
            }

        }

        .main-suggestions-container{
            width: 100%;
            display: flex;
            flex-direction: column;

            .each-right-section-suggestion{
                width: 100%;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                .user-profile-information{
                    width: 70%;
                    display: flex;

                    .suggestion-details{
                        margin-left: 10px;

                        p{
                            cursor: pointer;
                            width: 50%;
                        }

                    }

                }


                button{
                    text-transform: initial;
                    color : #0095f6;
                }
            }
        }
    }
}


@media(min-width : 600px) {
    .right-section-container{
        display: none;
    }
}



@media(min-width : 900px) {
    .right-section-container{
        display: flex;
    }
}