.pc-user-account{
    display: none;
}

@media(min-width : 960px) {
    .pc-user-account{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .mobile-user-account{
        display: none;
    }

}


@import './mobile/MobileUserAccount';
@import './pc/PcUserAccount';